



body {
    font-family: Arial, Helvetica, sans-serif;
}

.btn-cart {
    background-color: transparent;
    position: relative;
}

.btn-cart .badge {
    position: absolute;
    top: -1px;
    right: -1px;
}

.btn.disable {
    pointer-events: none;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

.jumbotron-bg {
    background-image: url('https://images.unsplash.com/photo-1441984904996-e0b6ba687e04?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
    background-size: cover;
    background-position: center center;
    min-height: 350px;
    color: white;
}

.bg-lighter {
    background-color: rgba(255, 255, 255, 0.55);
}

.box-shadow {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.16);
    transition: box-shadow .3s;
}

.box-shadow:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.24)
}

.alert-rounded {
    border-radius: 50px;
}
.nav-fixed {
    position: fixed;
}

.tree-node {
    padding-left: 1rem;
}

.block-500 {
    height: 500px;
}

main {
    padding-left: 150px;
}
/* 展開收合效果 */
.slide_toggle {
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    /* 收合提示字串區塊, 還可加入自訂 CSS 效果 */
    line-height: 170%;
    background-color: #eed;
    border-radius: 7px;
}

    .slide_toggle + div {
        display: none;
        margin-top: 10px;
        /* 隱藏註解文字區塊, 請加入自訂 CSS 效果 */
    }


/* 按讚test */
.like {
    font-size: 20px;
    color: #ccc;
    cursor: pointer;
}

.cs {
    color: #f00;
}



/*幣別*/
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}


.currency {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.currency select {
   background: transparent;
   background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%20000002%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
   background-repeat: no-repeat, repeat;
   background-position: right .2em top 50%, 0 0;
   background-size: .50em auto, 100%;
   border: 0;
   padding-right: 20px;
   font-size: 22px;
   -moz-appearance: none;
   -webkit-appearance: none;
   appearance: none;
}

    .currency input {
        border: 0;
        background: transparent;
        font-size: 22px;
        text-align: right;
    }

.middle {
    color: rgb(0, 117, 235);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.middle button {
    background-color: #fff;
    border: 2px solid #ecf0f1;
    border-radius: 50%;
    cursor: pointer;
    color: rgb(0, 117, 235);
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
     width: 30px;
    transform: rotate(90deg);
}    

.middle button:active {
    transform: rotate(90deg) scale(0.9);
}
.middle .rate {
    background-color: #fff;
    border: 2px solid #ecf0f1;
    border-radius: 50px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 0 10px;
    margin: 30px 15px 30px 25px;
}

select:focus, input:focus, button:focus {
    outline: 0;
}

/*productcard*/



.chapter-content {
    color: #808080;
    font-weight: 500;
    width: 100%;
}



.chapter-content h3 {
        font-size: 13pt !important;
        margin: 0 !important;
        background: #fff;
        color: #fff;
        display: block;
        overflow: hidden;
        padding: 5px 0;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

.chapter-content-blue {
    background: #5ebee2 !important;
    background: -webkit-linear-gradient(#4888c3, #5ebee2) !important;
    background: -o-linear-gradient(#4888c3, #5ebee2) !important;
    background: -ms-linear-gradient(#4888c3, #5ebee2) !important;
    background: linear-gradient(#4888c3, #5ebee2) !important;
}


.rating-input.grey-bg {
    line-height: normal;
}



.glyphicon-star {
    color: rgb(255, 165, 0);
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
}

.eye {
    background: url(../../Photos/eye.svg) left center no-repeat;
    margin-left: 7%;
    padding-left: 19px;
    display: block;
    float: left;
    cursor: pointer;
}



.btn-block-add {
    width: 100%;
    padding: 5px 0px 5px 0px;
    margin-top: 10px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
}


h1, h2, h3, h4, h5, h6, p {
    font-family: \5FAE\8EDF\6B63\9ED1\9AD4, Microsoft JhengHei, MingLiU, sans-serif;
}

h4, .h4 {
    font-size: 20px;
}

h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}
