ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;
    top: 0;
}
.navbar {
    background: rgb(149,222,223);
    background: -moz-linear-gradient(top, rgba(149,222,223,1) 0%, rgba(126,218,220,1) 23%, rgba(95,213,217,1) 52%, rgba(65,209,214,1) 79%, rgba(42,205,211,1) 100%);
    background: -webkit-linear-gradient(top, rgba(149,222,223,1) 0%,rgba(126,218,220,1) 23%,rgba(95,213,217,1) 52%,rgba(65,209,214,1) 79%,rgba(42,205,211,1) 100%);
    /* background: linear-gradient(to bottom, rgba(149,222,223,1) 0%,rgba(126,218,220,1) 23%,rgba(95,213,217,1) 52%,rgba(65,209,214,1) 79%,rgba(42,205,211,1) 100%); */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95dedf', endColorstr='#2acdd3',GradientType=0 );
    height: 50px;
}
 li > a:hover {
        color: #ffffff;
        background-color: #00b3b7;
}

.logo {
    height: 50px;
}


 li > a {
        color: #ffffff;
        background-color:#00b3b7;
    }
li {
    float: right;
}

li i {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
}

li i:hover {
            background-color: #00b3b7;
}

.active {
    background-color: #4CAF50;
}
/*carousel*/


.container {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
._DetailADBanner, ._DetailADBanner .carousel-inner > .item {
    height: 400px;
    height: 20vw;
    max-height: 450px;
}
.carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
        display: block;
        height: auto;
        max-width: 100%;
    }

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
        left: 2%;
    }

.carousel-control.next {
        right: 2%;
    }

.carousel-control:hover {
        background: rgba(0, 0, 0, 0.8);
        color: #aaaaaa;
    }

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 50%;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
        display: inline-block;
        margin: 0 5px;
    }

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
        color: #aaaaaa;
    }

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}

/*carousel*/

