@*Productcards*@
<div class="row" id="productcard"></div>

<script>
    //筆記:在JS中使用絕對路徑方式
    var root = '@Url.Content("~/")';
    $(function () {
        setProductCards();
    });
    //功能:從後端取得資料長出主畫面的卡片
    function setProductCards() {
        $.ajax({
        url: '@Url.Action("GetProductcards", "Home")',
        type: "GET",
        cache: false,
        success: function (model) {
            console.log(model);
            var html_2 = createCard(model);
            $("#productcard").html(html_2);
            $('img[name="bighand"]').on('dblclick', function (e)
            {
                like($(this).data('imgid'));
                showpicture();
            });
            //功能:加入購物車
            $('a[name = "addShoppingcar"]').on('click', function (e) {
                var fId = $(this).data('addcar');
                addCar(fId);
                var num = parseInt(document.getElementById("showShoppingcarnum").innerText);
                num += 1;
                document.getElementById("showShoppingcarnum").innerText = num;
                
            });

         },
         error: function (jqXHR, exception) {
                var msg = '';
                if (jqXHR.status === 0) {
                    msg = 'Not connect.\n Verify Network.';
                } else if (jqXHR.status === 404) {
                    msg = 'Requested page not found. [404]';
                } else if (jqXHR.status === 500) {
                    msg = 'Internal Server Error [500].';
                } else if (exception === 'parsererror') {
                    msg = 'Requested JSON parse failed.';
                } else if (exception === 'timeout') {
                    msg = 'Time out error.';
                } else if (exception === 'abort') {
                    msg = 'Ajax request aborted.';
                } else {
                    msg = 'Uncaught Error.\n' + jqXHR.statusText;
                }
                alert(msg);
            }
     });
    }


</script>



<script>
    //功能:主畫面呈現商品Cards View
    function createCard(array) {
        html_2 = "";
        $.each(array, function (e, item) {

            html_2 += '<div class="col-xs-3-fix">';
            html_2 += '<div class="card product-item-main" style="width: 18rem;" >';
            //說明:對卡片做click綁定
            html_2 += '<img src="' + root + 'Images/' + item.fImg + '" style="width:100%" name="bighand" data-imgid="' + item.fId + '" class="btn" /*onclick="like(' + item.fId + ')"*//>';
            //說明:星星
            html_2 += '<div class="rating-input grey-bg" align="right">'
            html_2 += '<span class="glyphicon glyphicon-star" data-value="1"></span>'
            html_2 += '<span class="glyphicon glyphicon-star" data-value="2"></span>'
            html_2 += '<span class="glyphicon glyphicon-star" data-value="3"></span>'
            html_2 += '<span class="glyphicon glyphicon-star" data-value="4"></span>'
            html_2 += '<span class="glyphicon glyphicon-star" data-value="5"></span>'
            html_2 += '<span class="badge marginright5"> <p name="showlike" >' + item.fP_islike + '</p> </span>'
            html_2 += '</div>'
            html_2 += '<div class="card-body chapter-content">';
            html_2 += '<h3 class="chapter-content-blue">' + item.fName + '</h3>'
            html_2 += '<h4 class="card-title">' + item.fName + '</h4>';           
            html_2 += '<span class="eye" title="瀏覽數">100</span>';
            //html_2 +='<span class="money" title="價格" >免費</span>'     
            html_2 += '</div>';          
            html_2 += '<div class="card-footer bg-white border-top-0">';
            //說明:加入購物車
            html_2 += '<a class="btn cloud btn-block-add " name="addShoppingcar" data-addcar="' + item.fId + '">加入購物車</a>';          
            html_2 += '</div>';
            html_2 += '</div>';
            html_2 += '</div>';
           
        })
        return html_2;
    }
</script>
<style>
    .product-item-main {
        box-shadow: 3px 3px 5px rgba(0,0,0,0.6);
        background: #fff;
        bottom: 5px;
        height: 360px;
        left: 5px;
        overflow: hidden;
        position: relative;
        padding: 0;
        right: 5px;
        top: 5px;
        width: 100%;
        -moz-box-shadow: 3px 3px 5px rgba(0,0,0,0.6);
        -webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.6);
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        z-index: 99;
        behavior: url(/PIE.htc);
        line-height: normal;
        font-size: 10pt;
    }


    .chapter-content {
        color: #808080;
        font-weight: 500;
        width: 100%;
    }

    .chapter-content h3 {
            font-size: 13pt !important;
            margin: 0 !important;
        }
    .chapter-content h3 {
            background: #fff;
            color: #fff;
            display: block;
            overflow: hidden;
            padding: 5px 0;
            text-align: center;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    .chapter-content-blue {
        background: #5ebee2 !important;
        background: -webkit-linear-gradient(#4888c3, #5ebee2) !important;
        background: -o-linear-gradient(#4888c3, #5ebee2) !important;
        background: -ms-linear-gradient(#4888c3, #5ebee2) !important;
        background: linear-gradient(#4888c3, #5ebee2) !important;
    }



    .col-xs-3-fix {
        position: relative;
        min-height: 1px;
        width: 220px;
        /* margin: 0 1.3%; */
        z-index: 99;
        color: #eee;
    }

    .rating-input.grey-bg {
        line-height: normal;
    }

    .glyphicon:empty {
        width: 1em;
    }

    .glyphicon-star {
        color: rgb(255, 165, 0);
    }

    .glyphicon {
        position: relative;
        top: 1px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        -webkit-font-smoothing: antialiased;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -moz-osx-font-smoothing: grayscale;
    }
    .eye {
        background: url(../../Photos/eye.svg) left center no-repeat;
        margin-left: 7%;
        padding-left: 19px;
        display: block;
        float: left;
        cursor: pointer;
    }
    .cloud {
        color: #fff;
        background-color: #5bc0de;
    }

    .btn-block-add {
        width: 100%;
        padding: 5px 0px 5px 0px;
        margin-top: 10px;
        font-weight: normal;
        line-height: 1.428571429;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
    }
   
    h1, h2, h3, h4, h5, h6, p {
        font-family: \5FAE\8EDF\6B63\9ED1\9AD4, Microsoft JhengHei, MingLiU, sans-serif;
    }

    h4, .h4 {
        font-size: 20px;
    }

    h4, h5, h6 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
</style>







