
@model IEnumerable<ShoppingMail.Controllers.HomeController.ProductCard>

<div class="row" id="productcard"></div>

@*index不要用pv，而是用c丟pv.model*@

<div id="card">
    @foreach (var item in Model)
    {

        <div class="item">
            <div class="col-xs-3-fix">
                <div class="card product-item-main">
                    @*說明:燈箱start*@
                    <div class="cardcontainer">
                        <img src="~/Images/@item.fImg" style="width:100%" class="image">
                        @*說明:燈箱隱藏區*@
                        <div class="transition">
                            <div class="text" style="min-height: 105px;">
                                <ul>
                                    <li>課程類型：DIY手作藝品 </li>
                                    <li>上課時數：01:30:00 </li>
                                    <li>總課堂數：4 </li>
                                </ul>
                            </div>
                            <span class="addTrace addTracking"><i class="fa fa-bookmark"></i>加入收藏</span>
                        </div>
                    </div>
                    @*說明:顯示星星及喜歡人數*@
                    <div class="rating-input grey-bg" align="right">
                        <span class="glyphicon glyphicon-star" data-value="1"></span>
                        <span class="glyphicon glyphicon-star" data-value="2"></span>
                        <span class="glyphicon glyphicon-star" data-value="3"></span>
                        <span class="glyphicon glyphicon-star" data-value="4"></span>
                        <span class="glyphicon glyphicon-star-empty" data-value="5"></span>
                        <span class="badge marginright5"> <p name="showlike"> @item.fP_islike </p> </span>
                    </div>
                    @*說明:卡片主體*@
                    <div class=" chapter-content">
                        <h3 class="chapter-content-blue"> @item.fName </h3>
                        <h4>@item.fName </h4>
                        <span class="chapter-detail">透過黏土課程，爸媽能陪著小朋友一起成長</span>
                        <span class="eye" title="瀏覽數">100</span>
                        <span class="money" title="價格">$ 999</span>
                        <span class="addcart"><button type="button" class="cloud btn-block-add" name="addShoppingcar" data-addcar="@item.fId">線上課程</button></span>
                    </div>
                </div>
            </div>
        </div>
    }
</div>




