
@*左側選單*@

<div class="col-md-2" id="sidebar"></div>

<script>
    $(function () {
        setProductCategoryMenu();
    });
    //功能:從後端取得資料長出樹狀結構

    function setProductCategoryMenu() {

        $.ajax({
            url: '@Url.Action("GetCategory", "Home")',
            type: "GET",
            cache: false,
            async: false,
            success: function (result2) {                
                console.log(result2);
                var html = createList(result2, 0);
                $("#sidebar").html(html);

                //功能:點節點長出對應的cardsview
                //說明:
                //(1)點擊事件綁定:從_Sidebar樹狀結構<a>標籤中的data-group屬性值判斷點擊到哪個節點
                //(2)getCategorynode():分類節點利用ajax到後端取得對應的model
                //(3)GetSidebarnode():將從後端傳至前端，利用createCard長出html

                $('a[name = "sidebar"]').on('click', function (e) {
                    $("#productcard").empty();
                    //說明:取得對應節點值
                    var nodeId = $(this).data('group')                   
                    //console.log(nodeId);
                    //說明:長出該節點(model)的cards view
                    getCategorynode(nodeId);
                    
                   
                });

            },
            error: function (jqXHR, exception) {
                var msg = '';
                if (jqXHR.status === 0) {
                    msg = 'Not connect.\n Verify Network.';
                } else if (jqXHR.status === 404) {
                    msg = 'Requested page not found. [404]';
                } else if (jqXHR.status === 500) {
                    msg = 'Internal Server Error [500].';
                } else if (exception === 'parsererror') {
                    msg = 'Requested JSON parse failed.';
                } else if (exception === 'timeout') {
                    msg = 'Time out error.';
                } else if (exception === 'abort') {
                    msg = 'Ajax request aborted.';
                } else {
                    msg = 'Uncaught Error.\n' + jqXHR.statusText;
                }
                alert(msg);
            }
        });
    }
</script>






@*樣式四測試*@


<script>
    //功能:展開選單
    html = "";
    function createList(array)
    {
        //說明:讀出每一個tTree的name
        $.each(array, function ()
        {
            
            html += '<div><a href="#" name="sidebar" data-group="' + this.Id + '">' + this.name + '</a></div>';
            
             //說明:如果為最後節點就跳出當前迴圈，進入下一個迴圈(continue)
             if (this.subdir.length == 0)
             {
                return true; 
             }
             //說明:還有子階層就繼續展開選單
             else
             {
                createList(this.subdir);
             }
         })      
        return html;
    }
    //功能:取得分類節點model
    function getCategorynode(nodeId) {
        $.ajax({
            url: '/Home/Getnodemodel',
            type: 'GET',
            data: { nodeId: nodeId },
            async: false,
            success: function (nodeModel) {
                console.log(nodeModel);
                //return model;
               
                var html_node = createCard(nodeModel);
                
                $("#productcard").html(html_node);
               
            },
            error: function (jqXHR) {
                var msg = '';
                if (jqXHR.status === 0) {
                    msg = 'Not connect.\n Verify Network.';
                } else if (jqXHR.status === 404) {
                    msg = 'Requested page not found. [404]';
                } else if (jqXHR.status === 500) {
                    msg = 'Internal Server Error [500].';
                } else if (exception === 'parsererror') {
                    msg = 'Requested JSON parse failed.';
                } else if (exception === 'timeout') {
                    msg = 'Time out error.';
                } else if (exception === 'abort') {
                    msg = 'Ajax request aborted.';
                } else {
                    msg = 'Uncaught Error.\n' + jqXHR.statusText;
                }
                alert(msg + 'Ajax request 取得節點卡片發生錯誤');
            }
        });
    }
</script>





















@*sideBar樣式一*@
@*<script>
        function createList(menu) {
            //console.log(menu);
            var html = "<div class='dropdown'>";
            $.each(menu, function (e, item) {
                //console.log(item);
                html += "<div><a class='dropdown-item btn  dropdown-toggle' data-toggle='collapse' aria-haspopup='true' aria-expanded='false' aria-controls='collapseExample' href='#collapseExample'>" + item.name + "</a></div>";
                if (item["subdir"] == undefined) return;
                //console.log(item["subdir"]);
                $.each(item.subdir, function (e, item) {
                    html += "<div class='collapse' id='collapseExample'><a class='dropdown-item ' href='#collapseExample_2' data-toggle='collapse' aria-haspopup='true' aria-expanded='false' aria-controls='collapseExample_2'>" + item.name + "</a></div>";
                    createList(item.subdir);
                    //console.log(item.subdir);
                    $.each(item.subdir, function (e, item) {
                        html += "<div class='collapse' id='collapseExample_2'><a class=' btn card card-body" + item.name + "' href='#'>" + item.name + "</a></div>";
                        createList(item.subdir);
                        //console.log(item.subdir);
                    })
                })
            })
            html += "</div >";
            return html;
        }

        $("#sidebar").html(createList(menu));
    </script>*@
@*<script>
    var menu = [
        {
            name: "選單一",
            subdir: [
                {
                    name: "選單1-1",
                    subdir: [
                        {
                            name: "選單1-1-1",
                            subdir: []
                        }
                    ]
                },
                {
                    name: "選單1-2",
                    subdir: [
                        {
                            name: "選單1-2-1",
                            subdir: []
                        }
                    ]
                }
            ]
        },
        {
            name: "選單二",
            subdir: [
                {
                    name: "選單2-1",
                    subdir: [
                        {
                            name: "選單2-1-1",
                            subdir: []
                        }
                    ]
                },
                {
                    name: "選單2-2",
                    subdir: [
                        {
                            name: "選單2-2-1",
                            subdir: []
                        }
                    ]

                }
            ]
        }
    ];
</script>*@

<style>
    .nav-fixed {
        position: fixed;
    }

    .tree-node {
        padding-left: 1rem;
    }

    .block-500 {
        height: 500px;
    }

    main {
        padding-left: 150px;
    }
</style>
<style>
    /* 展開收合效果 */
    .slide_toggle {
        text-align: center;
        cursor: pointer;
        font-weight: bold;
        /* 收合提示字串區塊, 還可加入自訂 CSS 效果 */
        line-height: 170%;
        background-color: #eed;
        border-radius: 7px;
    }

        .slide_toggle + div {
            display: none;
            margin-top: 10px;
            /* 隱藏註解文字區塊, 請加入自訂 CSS 效果 */
        }
</style>
<script>
    $(".dropdown-toggle").click(function () {
        $(this).next().slideToggle();
    });
</script>