<!-- 左側欄(list-group) -->
<div class="col-md-2" id="sidebar"></div>
<style type="text/css">
    .nav-fixed {
        position: fixed;
    }

    .tree-node {
        padding-left: 1rem;
    }

    .block-500 {
        height: 500px;
    }

    main {
        padding-left: 150px;
    }
</style>

<nav class="nav-fixed">
    <div class="tree-root">

    </div>
</nav>


<script>
    $(function () {
        setProductCategoryMenu();
    });
    //功能:從後端取得資料
    function setProductCategoryMenu() {

        $.ajax({
            url: '@Url.Action("GetCategory", "Home")',
            type: "GET",
            cache: false,
            success: function (data) {
                //console.log(data);
                bindTree(data,0);
            },
            error: function (jqXHR, exception) {
                var msg = '';
                if (jqXHR.status === 0) {
                    msg = 'Not connect.\n Verify Network.';
                } else if (jqXHR.status === 404) {
                    msg = 'Requested page not found. [404]';
                } else if (jqXHR.status === 500) {
                    msg = 'Internal Server Error [500].';
                } else if (exception === 'parsererror') {
                    msg = 'Requested JSON parse failed.';
                } else if (exception === 'timeout') {
                    msg = 'Time out error.';
                } else if (exception === 'abort') {
                    msg = 'Ajax request aborted.';
                } else {
                    msg = 'Uncaught Error.\n' + jqXHR.statusText;
                }
                alert(msg);
            }
        });
    }
    //功能:長樹狀結構選單(根據父類別一層一層長下去)
    function bindTree(data, level) {
        var last = true;
        for (var i = 0; i < data.length; i++) {
            if (data[i].fParent_Id === level) {
                var htmlnode = ' <div class="tree-node" parentid="' + data[i].fParent_Id + '"> <a class="tree-trigger" href="#">' + data[i].fName + '</a></div>'
                //說明:如果有fParent_Id就在後面加入
                if ($(".tree-node[parentid='" + data[i].fParent_Id + "']").length) {
                    $(".tree-node[parentid='" + data[i].fParent_Id + "']").find('a').after(htmlnode);
                }
                //說明:新類別
                else {
                    $('.tree-root').append(htmlnode);
                }
                last = false;
            }
        }

        if (last === false) {
            bindTree(data, level+1);
        }
    }
</script>