
@model IEnumerable<ShoppingMail.Models.tProduct>

@{
    ViewBag.Title = "商品列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- 單一產品頁面 -->
    <div class="col-md-12">



        <h1>
            <img src="~/Photos/comment.svg" style="width:5%" /> 最新上架
        </h1>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        @*產品總覽Cards view*@
        @Html.Partial("_ProductcardPartial")
    </div>    
