@model IEnumerable<ShoppingMail.Models.ProductModel>

@{
    ViewBag.Title = "ShowProduct";
}

<h2>ShowProduct</h2>

@foreach (var item in Model) 
{
    <div class="col-lg-4">
        <div class="thumbnail">
            <img src="~/Images/@item.Img" style="width:70%" />
            <div class="caption">
                <h3>商品名稱:@item.</h3>
                <p>售價:@item.Price</p>

            </div>


        </div>

    </div>
}

